 <!-- BEGIN DASHBOARD STATS 1-->
@model AdminPseudoscops.Models.HomePageViewTitles
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 blue" href="#">
            <div class="visual">
                <i class="fa fa-comments"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span  >@Model.TotalAccessEvent</span>
                </div>
                <div class="desc"> Toplam Geçiş </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 red" href="#">
            <div class="visual">
                <i class="fa fa-bar-chart-o"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span  >@Model.TotalActiveApplicationUser</span>
                </div>
                <div class="desc"> Kayıtlı Kullanıcı </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 green" href="#">
            <div class="visual">
                <i class="fa fa-shopping-cart"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span >@Model.TotalActiveDevices</span>
                </div>
                <div class="desc"> Aktif Cihaz Sayısı </div>
            </div>
        </a>
    </div>
   
</div>
<!-- END DASHBOARD STATS 1-->
