<!DOCTYPE html>

<!--[if !IE]><!-->
<html lang="en">


<head>
    <script src="~/Scripts/kendo/2016.2.504/jquery.min.js"></script>
    <script src="~/Scripts/kendo/2016.2.504/jszip.min.js"></script>
    <script src="~/Scripts/kendo/2016.2.504/kendo.all.min.js"></script>
    <script src="~/Scripts/kendo/2016.2.504/kendo.aspnetmvc.min.js"></script>
    <script src="~/Scripts/kendo.modernizr.custom.js"></script>
</head>

<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">

        <div class="page-content-wrapper">

            <div class="page-content">

                <div class="page-bar">
                    <ul class="page-breadcrumb">
                        <li>
                            @Html.ActionLink("Anasayfa", "Index", "Home")
                            <i class="fa fa-circle"></i>
                        </li>
                    </ul>
                    <div class="page-toolbar">
                        <div id="dashboard-report" class="pull-right tooltips btn btn-sm">

                            <span class="thin uppercase hidden-xs">@DateTime.Now</span>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">

                    @(Html.Kendo().Grid<AdminPseudoscops.Models.AppModel.GateAccessViewModel>()
    .Name("EventHistory")
    .Columns(columns =>
    {
        columns.Bound(p => p.Id).Width("10%").Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false)));
        columns.Bound(p => p.UserId).Width("16%").Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")));
        columns.Bound(p => p.Name).Width("12%").Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")));
        columns.Bound(p => p.Surname).Width("12%").Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")));
        columns.Bound(p => p.DeviceId).Width("13%").Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")));
        columns.Bound(p => p.Location).Width("13%");
        columns.Bound(p => p.IsInside).Width("14%").Filterable(ftb => ftb.Multi(true));
        columns.Bound(p => p.EventTime).Format("{0:MM/dd/yyyy hh:mm tt}").Width("10%");


        //columns.Command(command => command.Destroy()).Width(110);
    })
    .ToolBar(toolbar =>
    {
        toolbar.Excel().Text("Excel'e Aktar").HtmlAttributes(new { @style = "width:15%" });
    })
    //.Editable(editable => editable.Mode(GridEditMode.InCell))
    
    .Pageable()
    .Navigatable()
    .Sortable()
    .Scrollable()
     .HtmlAttributes(new { style = "height:550px;" })
    .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
    
     .DataSource(dataSource => dataSource
        .Ajax()
        .Batch(true)
        .PageSize(50)
        .ServerOperation(false)
        .Events(events => events.Error("error_handler"))
        .Model(model => model.Id(p => p.Id))
        .Read("EventHistory_Read", "Analytics")
    //.Update("Editing_Update", "Grid")
    //.Destroy("Editing_Destroy", "Grid")
    )
                    )
                    <script type="text/javascript">
                        function error_handler(e) {
                            if (e.errors) {
                                var message = "Errors:\n";
                                $.each(e.errors, function (key, value) {
                                    if ('errors' in value) {
                                        $.each(value.errors, function () {
                                            message += this + "\n";
                                        });
                                    }
                                });
                                alert(message);
                            }
                        }
                    </script>
                    @*@section Scripts {
                            @Scripts.Render("~/bundles/jqueryval")
                        }*@
                </div>





            </div>
            <!-- END CONTENT BODY -->
        </div>
        <!-- END CONTENT -->
        <!-- BEGIN QUICK SIDEBAR -->
        <!-- END QUICK SIDEBAR -->
    
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
  
    <!-- END FOOTER -->

</body>


<!-- Mirrored from www.keenthemes.com/preview/metronic/theme/admin_1/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 03 Apr 2016 22:08:00 GMT -->
</html>